.margen { max-width: 720px; }
.mask { margin-top: 400px; }

.datos {
    text-align: center;
    margin: 10px;
    width: 100px;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.12);
    border-top: 5px solid #ffffff;
  }
#imagen {height: 600px; background-size: cover;}
.tarjeta {background-color: #F2F2F2;}
